.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.min_height {
    min-height: 600px;
}

.start {
    justify-content: start;
}

.column {
    justify-content: flex-start;
    flex-direction: column;
}

.end {
    justify-content: flex-end;
}