.users_Card {
    padding: 1em;
    margin: 0.5%;
    border: 2px solid #abc;
    border-radius: 5px;
    width: 24%;
}

.users_Card h4 {
    background-color: #abc;
    color: #000;
    padding: 0.5em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.users_Card p {
    margin-bottom: 1em;
    color: #000;
}

.users_Card span {
    font-weight: bold;
}

.user_Card_actions {
    display: flex;
    margin-top: 1.2em;
    align-items: center;
}

.user_Card_actions a, .user_Card_actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border:  1px solid #222;
    transition: .5s;
}

.user_Card_actions  svg {
    margin-right: .5em;
}

.user_Card_actions  a:hover, .user_Card_actions button:hover {
    background-color: #222;
    color: #abc;
}